/* Header.css */
.navbar {
  background-color: #007ABF;
  padding: 20px;
}
  
.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  color: white; 
  padding: 10px 0;
  margin: 0 auto; 
  display: table; 
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: white; 
}

.nav-link {
  color: white;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #a5a5a5;
  &::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {


  .navbar {
    padding: 10px;
    /* width: 100vw; */
  }

  .navbar-brand {
    font-size: 24px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* @media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .navbar-toggler {
    border: none;
  }

  .navbar-nav {
    text-align: center; 
    width: 100%;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    display: inline-block;
    margin-bottom: 10px; 
  }
} */

  
  