.table-container{
  width: 300px;
  margin: 0 20px 20px 0;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  overflow: hidden; 
}

.table-info {
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  font-weight: bold;
}

td + td {
  border-left: 1px solid #ddd;
}
  